[Unit]
Description=Embedded Acoustics API
DefaultDependencies=no

[Service]
User=debian
Type=simple
ExecStart=/bin/bash /home/debian/EAA/systemd/eaa.sh

[Install]
WantedBy=sysinit.target
